*{
  font-family: sans-serif;
}
.back_login {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
    url(./image/back/back-login.jpg);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: backback 8s infinite;
 
}
@keyframes backback{
33%{
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
  url(./image/back/back_login_02.jpg);

}
66%{
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
  url(./image/back/back_login_03.jpg);
}
100%{
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
  url(./image/back/back-login_04.jpg);

}

}
.option {
  color: black;
  margin: 10px 20px;
  font-size: 36px;
}
.form {
  background-color: rgba(255, 255, 255, 0.774);
  width: 60%;
  height: 380px;
  margin-top: 7%;
  border-radius: 5px;
  box-shadow: 4px 4px 2px 1px #656670ba;
  flex-wrap: wrap;
}


.name {
  margin-top: 40px;
  width: 100%;
  margin-left: 12%;
}
.name input {
  height: 20px;
  border-radius: 5px;
  border: 1px solid black;
  width: 200px;
  padding: 5px;
}
.email {
  height: 30px;
  margin-top: 20px;
  margin-left: 12%;
}
.email input {
  border: 1px solid black;
  width: 417px;
  height: 20px;
  border-radius: 5px;
  padding: 5px;
}
.message {
  margin-top: 20px;
  margin-left: 12%;
  display: flex;
}
.message button {
  width: 100px;
  height: 40px;
  border-radius: 5px;

  margin-left: 12%;
}
.but {
  display: flex;
  justify-content: end;
  flex-direction: column;
  gap: 10px;
  margin-left: 2%;
}
.message textarea {
  width: 417px;
  border: solid 1px rgb(0, 0, 0);
  padding: 5px;
  border-radius: 5px;
}
#bb {
  display: flex;
  width: 100px;
  height: 30px;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  border-radius: 3px;
}
#bb:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}
#tt {
  width: 100px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;
  border-radius: 3px;
  cursor: pointer;
}
#tt:hover {
  background-color: black;
  color: white;
}
@media (max-width: 1080px) {
  .form {
    height: 420px;
  }
  .message {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .but {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-right: 40px;
  }
}
@media (max-width: 870px) {
  .name input {
    width: 35%;
  }
  .email input {
    width: 85%;
  }
  .message textarea {
    width: 85%;
  }
}

